body {
  background-image: url("assets/textures/KN1F3-L0G0-2.png");
  background-repeat: repeat;
  background-size: .5%;
  /*background-color: #e7e7e7;*/
  color: #4c0000;;
  font-family: 'Sansation', Arial, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}



header {
  background-color: #960000;
  color: #e7e7e7;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.vl {
  border-left: 15px solid #960000;
  height: 500px;
}

nav a {
  color: #e7e7e7;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

footer a {
  color: #4c0000;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

/*STYLE THE CHECKBOX*/
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p.inset {
  border-style: inset;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e7e7e7;
  border: 2px solid #960000;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #960000;
}

/* When the checkbox is checked, add a red background */
.container input:checked~.checkmark {
  background-color: #960000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #e7e7e7;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

footer {
  background-color: #960000;
  color: #e7e7e7;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}